body { margin: 0;
        padding: 0;

    }
.left-box { 
   flex: 25%;
   display: flex;
   align-items: center;
   gap: 20px;
}
.middle-box { 
   
     flex: 50% ; 
    display: flex;
   align-items: center;
   gap: 15px;
}   
.right-box {
  
    flex: 25% ;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
   
}
span {
    font-size: 18px;
    color: gray;
}
nav 
{ 
 display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.left-box img {
    width :50px;
    display: flex;
    align-items: center;
    
}
.search-box {
    border: 1px solid rgb(18, 17, 17);
    height: 40px;
    display: flex;
    align-items: center;
   width: 80%;
    border-radius: 20px;
    text-indent: 10px;
   outline: none;
   color: black;
   background-color: transparent;
   font-size: 18px;

}
.search-box input {
    border: none;
    width: 90%;
    height: 100%;
    font-size: 15px;
    outline: none;
    text-indent: 20px;
    background-color: transparent;
}
.search-box button { 
    border: 1px solid black;
    width: 50px ;
    height: 100%;
    font-size: 20px;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px;
    border: none;
    


}
.create-btn {

    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
.profile-picture{
    width: 35px;
    height: 35px;
    border-radius: 50% ;

}
.notification-button 
{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    
    
}
.notification-button:hover 
 { 
    background-color: rgb(172, 160, 160);

}
.badge { 
    background-color: red;
        color: white;
         position: absolute;
        border-radius: 3px;
        top: -5px;
        right: -3px;
        font-size: xx-small;
        
        }
.notification-button i {
     font-size: large;
    
}
.microphone-button  {
    width: 40px;
    height: 42px;
    border: none;
    border-radius: 50%;

    }
.microphone-button i {
    font-size: larger;
      }

.microphone-button:hover {
     background-color: gray;
    }



.video-info {
    display: flex;
    gap: 10px;
    margin-top: 13px;
}


 .video-card {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 20px;
 }
 .video-card:hover {
    background-color: rgb(201, 157, 157);
    border-radius: 8px;
 }
section {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.channel-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.video-sub h3 
{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.thumbnail {
    border-radius: 20px;
    width: 300px;
    
    
}
.thumbnail-duration 
{position: relative;
    width: 300px;

}

.video-title {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    right: 15px;
    bottom: 7px;
    border: none;
    border-radius: 5px;
    height: 18px;
    font-size: small;
    padding-left: 2px;
    padding-right: 2px;

    

    /* position: absolute;
    border: none;
    background-color: aquamarine;
    color: aquamarine;
    border-radius: 4px;
    right: 29px;
    top: 257px;
    width: 44px;
} 
.thumbnail:hover {
    border-radius: 0px; */
}

.video-sub {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  .video-title { 
    font-size: 20px;
    margin: 0;
  }
  .video-channel{
    margin: 0%;
    font-size: 18px;
    color: rgb(132, 123, 123);
  }
@media(   max-width: 480px) {
    .middle-box {display: none;

    }
    .right-box {display: none;}
      
    .video-section {
    grid-template-columns: 1fr;
    padding-left: 0%; 
    align-items: center;        
    }
    .thumbnail { position: relative;
        width: 170px;
    }
    .video-title 
{
    font-size: 15px;
    
}
.video-channel {
   font-size: 15px; 
}
    


}